<a href="https://colab.research.google.com/github/Jency07/machine-learning/blob/main/20MAI0026_Family_Relationship_Health_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting the health of family relationship:**


[Github link](https://github.com/Jency07/machine-learning/blob/main/20MAI0026_Family_Relationship_Health_Prediction.ipynb)

Family is a constant in a person's life. Families carry your history and share your future.

Healthy families help one another when they need it. They keep their promises, support one another, and show affection when they are together.Healthy families are loyal, supportive, and committed. They find it easy to trust one another with the details of their lives. They also share responsibilities and make decisions together and are there for you when you need them.

Based on analysis of online sources, we have come up with few parameters which help in determinig the happiness state of a family.

***1.Surprise rate***

  How often we surpise our family members - Often/Rare/Never

***2.Companionship***

  Do we lend a ear to our family members? Do we make them feel special and participate in their joys and sorrows? - Always/Sometimes/Never

***3.Time spent with children in a day***

  Do we spend time with our children on a daily basis? How many hours? Atleast 1.5 hrs is recommended

***4.Decision making type***

  Do we discuss with our family before taking our decisions? - Individual/Family

***5.Trust rate***

   On a scale of 0-10 scale how much do we trust our family members? 

***6.Financial Decisions***

  Are all members of the family involved in making financial decisions?

***7.Family Health***

  Is the family happy or unhappy based on above parameters?

###**Dataset Description:**

Family health dataset is a small csv dataset consisting of 15 datapoints.It has 6 predictor variables and 1 target variable which indicates if a family is happy or not.

### ***1.Import libraries***

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot

### ***2.Mount filesystem***

In [2]:
from google.colab import files
uploaded=files.upload()

Saving Family Health.csv to Family Health.csv

### ***3.Read the data file***

In [3]:
data = pd.read_csv("Family Health.csv")
data

    FNo Surprise rate  ... Finance discussion  Family Health
0    F1         Often  ...                Yes          Happy
1    F2         Often  ...                Yes          Happy
2    F3          Rare  ...                 No          Happy
3    F4         Never  ...                Yes          Happy
4    F5         Often  ...                 No        Unhappy
5    F6         Never  ...                Yes        Unhappy
6    F7         Often  ...                Yes          Happy
7    F8         Never  ...                Yes        Unhappy
8    F9          Rare  ...                 No        Unhappy
9   F10         Never  ...                 No        Unhappy
10  F11          Rare  ...                 No        Unhappy
11  F12          Rare  ...                 No          Happy
12  F13          Rare  ...                 No          Happy
13  F14         Often  ...                 No          Happy
14  F15         Never  ...                 No        Unhappy

[15 rows x 8 columns]

### ***4.Feature Engineering***

In [4]:
#Change Often to 2, Rare to 1 and Never to 0 in Surprise rate
for surprise in range(0,data.shape[0]):
  if data['Surprise rate'][surprise]=='Often':
    data['Surprise rate'][surprise]=2
  elif data['Surprise rate'][surprise]=='Rare':
    data['Surprise rate'][surprise]=1
  else:
    data['Surprise rate'][surprise]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [5]:
#Change Always to 2, Sometimes to 1 and Never to 0 in Companionship
for companion in range(0,data.shape[0]):
  if data['Companionship'][companion]=='Always':
    data['Companionship'][companion]=2
  elif data['Companionship'][companion]=='Sometimes':
    data['Companionship'][companion]=1
  else:
    data['Companionship'][companion]=0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
#Change Family to 1 and Individual to 0 in Decision making type column
data['Decision making type']=data['Decision making type'].apply(lambda decision:1 if decision=='Family' else 0)

In [7]:
#Change Yes to 1 and No to 0 in Finance discussion column
data['Finance discussion']=data['Finance discussion'].apply(lambda discussion:1 if discussion=='Yes' else 0)

In [8]:
#Change Happy to 1 and Unhappy to 0
data['Family Health']=data['Family Health'].apply(lambda health:1 if health=='Happy' else 0)

In [9]:
data

    FNo Surprise rate  ... Finance discussion  Family Health
0    F1             2  ...                  1              1
1    F2             2  ...                  1              1
2    F3             1  ...                  0              1
3    F4             0  ...                  1              1
4    F5             2  ...                  0              0
5    F6             0  ...                  1              0
6    F7             2  ...                  1              1
7    F8             0  ...                  1              0
8    F9             1  ...                  0              0
9   F10             0  ...                  0              0
10  F11             1  ...                  0              0
11  F12             1  ...                  0              1
12  F13             1  ...                  0              1
13  F14             2  ...                  0              1
14  F15             0  ...                  0              0

[15 rows x 8 columns]

### ***5. Selecting the features for prediction***

In [10]:
df=data[['Surprise rate','Companionship','Time spent with children in a day(hrs)','Decision making type','Trust rate','Finance discussion','Family Health']]
df

   Surprise rate Companionship  ...  Finance discussion  Family Health
0              2             2  ...                   1              1
1              2             1  ...                   1              1
2              1             2  ...                   0              1
3              0             2  ...                   1              1
4              2             0  ...                   0              0
5              0             0  ...                   1              0
6              2             1  ...                   1              1
7              0             1  ...                   1              0
8              1             0  ...                   0              0
9              0             0  ...                   0              0
10             1             0  ...                   0              0
11             1             2  ...                   0              1
12             1             1  ...                   0              1
13             2             2  ...                   0              1
14             0             0  ...                   0              0

[15 rows x 7 columns]

### ***5. Fixing Predictors and response***

In [11]:
X=df.drop("Family Health",axis=1)
Y=df["Family Health"]

### ***7.Split train and test dataset***

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=25)

### ***8.Train the model***

In [18]:
#Training using logistic regression
from sklearn.linear_model import LogisticRegression
logit=LogisticRegression()
logit.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

### ***9.Testing the model***

In [19]:
#Finding y hat
Y_pred=logit.predict(X_test)

### ***10.Evaluating the model***

In [21]:
#Accuracy score
from sklearn.metrics import accuracy_score
accuracy_score=accuracy_score(Y_test,Y_pred)
accuracy_score

1.0