<a href="https://colab.research.google.com/github/Jency07/machine-learning/blob/main/Data_Imputation_20MAI0026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**DATA IMPUTATION**

Imputing refers to using a model to replace missing values.

There are many options we could consider when replacing a missing value, for example: 

*   A constant value that has meaning within the domain, such as 0, distinct from all other values.

*   A value from another randomly selected record.

*   A mean, median or mode value for the column.

*   A value estimated by another predictive model.

[Github Link](https://github.com/Jency07/machine-learning/blob/main/Data_Imputation_20MAI0026.ipynb)

### ***1.Import libraries***

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.pipeline import Pipeline

### ***2.Mount filesystem***

In [2]:
from google.colab import files
uploaded=files.upload()

Saving pima-indians-diabetes.csv to pima-indians-diabetes (1).csv

### ***3.Load the dataset***

In [3]:
# load the dataset
dataset = pd.read_csv('pima-indians-diabetes (1).csv')
dataset.head(10)

   Number of times pregnant  Plasma glucose concentration  ...  Age  Class
0                         6                           148  ...   50      1
1                         1                            85  ...   31      0
2                         8                           183  ...   32      1
3                         1                            89  ...   21      0
4                         0                           137  ...   33      1
5                         5                           116  ...   30      0
6                         3                            78  ...   26      1
7                        10                           115  ...   29      0
8                         2                           197  ...   53      1
9                         8                           125  ...   54      1

[10 rows x 9 columns]

In [4]:
# summarize the dataset
dataset.describe()

       Number of times pregnant  ...       Class
count                768.000000  ...  768.000000
mean                   3.845052  ...    0.348958
std                    3.369578  ...    0.476951
min                    0.000000  ...    0.000000
25%                    1.000000  ...    0.000000
50%                    3.000000  ...    0.000000
75%                    6.000000  ...    1.000000
max                   17.000000  ...    1.000000

[8 rows x 9 columns]

We can see that there are columns that have a minimum value of zero (0). 

1: Number of times pregenant

2. Plasma glucose concentration

3: Diastolic blood pressure

4: Triceps skinfold thickness

5: 2-Hour serum insulin

6: Body mass index

On some columns, a value of zero does not make sense and indicates an invalid or missing value.

1: Plasma glucose concentration

2: Diastolic blood pressure

3: Triceps skinfold thickness

4: 2-Hour serum insulin

5: Body mass index

In [5]:
# count the number of missing values for each column
missing_count = (dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]] == 0).sum()
# report the results
print(missing_count)

Plasma glucose concentration      5
Diastolic blood pressure         35
Triceps skin fold thickness     227
Serum insulin                   374
Body mass index                  11
dtype: int64

### **4. Data Imputation - Replacing missing values with mean**

In [6]:
print("\nRoll No: 20MAI0026")
print("***************************\n")

# load the dataset
dataset = pd.read_csv('pima-indians-diabetes.csv')

# mark zero values as missing or NaN
dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]] = dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]].replace(0, np.nan)

# split dataset into inputs and outputs
values = dataset.values
X = values[:,0:8]
y = values[:,8]

# define the imputer - mean
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

# define the model
lda = LinearDiscriminantAnalysis()

# define the modeling pipeline
pipeline = Pipeline(steps=[('imputer', imputer),('model', lda)])

# define the cross validation procedure
kfold = KFold(n_splits=3, shuffle=True, random_state=1)

# evaluate the model
result = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy')

# report the mean performance
print('Accuracy: %.3f' % result.mean())

Roll No: 20MAI0026
***************************

Accuracy: 0.762

### **5. Data Imputation - Replacing missing values with median**

In [7]:
print("\nRoll No: 20MAI0026")
print("***************************\n")

# load the dataset
dataset = pd.read_csv('pima-indians-diabetes.csv')

# mark zero values as missing or NaN
dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]] = dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]].replace(0, np.nan)

# split dataset into inputs and outputs
values = dataset.values
X = values[:,0:8]
y = values[:,8]

# define the imputer
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

# define the model
lda = LinearDiscriminantAnalysis()

# define the modeling pipeline
pipeline = Pipeline(steps=[('imputer', imputer),('model', lda)])

# define the cross validation procedure
kfold = KFold(n_splits=3, shuffle=True, random_state=1)

# evaluate the model
result = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy')

# report the median performance
print('Accuracy: %.3f' % result.mean())

Roll No: 20MAI0026
***************************

Accuracy: 0.760

### **6. Data Imputation - Replacing missing values with most frequent**

In [8]:
print("\nRoll No: 20MAI0026")
print("***************************\n")

# load the dataset
dataset = pd.read_csv('pima-indians-diabetes.csv')

# mark zero values as missing or NaN
dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]] = dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]].replace(0, np.nan)

# split dataset into inputs and outputs
values = dataset.values
X = values[:,0:8]
y = values[:,8]

# define the imputer
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

# define the model
lda = LinearDiscriminantAnalysis()

# define the modeling pipeline
pipeline = Pipeline(steps=[('imputer', imputer),('model', lda)])

# define the cross validation procedure
kfold = KFold(n_splits=3, shuffle=True, random_state=1)

# evaluate the model
result = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy')

# report the mist frequent performance
print('Accuracy: %.3f' % result.mean())

Roll No: 20MAI0026
***************************

Accuracy: 0.760

### **7. Data Imputation - Replacing missing values with constant values**

In [9]:
print("\nRoll No: 20MAI0026")
print("***************************\n")

# load the dataset
dataset = pd.read_csv('pima-indians-diabetes.csv')

# mark zero values as missing or NaN
dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]] = dataset[["Plasma glucose concentration","Diastolic blood pressure","Triceps skin fold thickness","Serum insulin","Body mass index"]].replace(0, np.nan)

# split dataset into inputs and outputs
values = dataset.values
X = values[:,0:8]
y = values[:,8]

# define the imputer
imputer = SimpleImputer(missing_values=np.nan, strategy='constant')

# define the model
lda = LinearDiscriminantAnalysis()

# define the modeling pipeline
pipeline = Pipeline(steps=[('imputer', imputer),('model', lda)])

# define the cross validation procedure
kfold = KFold(n_splits=3, shuffle=True, random_state=1)

# evaluate the model
result = cross_val_score(pipeline, X, y, cv=kfold, scoring='accuracy')

# report the constant performance
print('Accuracy: %.3f' % result.mean())

Roll No: 20MAI0026
***************************

Accuracy: 0.763