In [1]:
import sklearn.datasets
import numpy as np
import pandas as pd

***I Dataset: crx.data***

In [2]:
from google.colab import files
uploaded = files.upload()

Saving crx.data to crx.data

In [13]:
#Load the data
dataframe = pd.read_csv('crx.data',header=None)

***1. In the dataset crx.data, name the columns as col1, col2..col16***

In [14]:
varnames=['col'+str(s) for s in range(1,17)]
dataframe.columns=varnames
dataframe.head()

  col1   col2   col3 col4 col5 col6  ... col11  col12 col13  col14  col15 col16
0    b  30.83  0.000    u    g    w  ...     1      f     g  00202      0     +
1    a  58.67  4.460    u    g    q  ...     6      f     g  00043    560     +
2    a  24.50  0.500    u    g    q  ...     0      f     g  00280    824     +
3    b  27.83  1.540    u    g    w  ...     5      t     g  00100      3     +
4    b  20.17  5.625    u    g    w  ...     0      f     s  00120      0     +

[5 rows x 16 columns]



---

---

***2. Print the last 10 rows of data***

In [5]:
dataframe.tail(10)

    col1   col2    col3 col4 col5 col6  ... col11  col12 col13  col14  col15 col16
680    b  19.50   0.290    u    g    k  ...     0      f     g  00280    364     -
681    b  27.83   1.000    y    p    d  ...     0      f     g  00176    537     -
682    b  17.08   3.290    u    g    i  ...     0      t     g  00140      2     -
683    b  36.42   0.750    y    p    d  ...     0      f     g  00240      3     -
684    b  40.58   3.290    u    g    m  ...     0      t     s  00400      0     -
685    b  21.08  10.085    y    p    e  ...     0      f     g  00260      0     -
686    a  22.67   0.750    u    g    c  ...     2      t     g  00200    394     -
687    a  25.25  13.500    y    p   ff  ...     1      t     g  00200      1     -
688    b  17.92   0.205    u    g   aa  ...     0      f     g  00280    750     -
689    b  35.00   3.375    u    g    c  ...     0      t     g  00000      0     -

[10 rows x 16 columns]



---

---

3. Replace the ‘?’ with Not-a-Number

In [15]:
dataframe=dataframe.replace('?',np.nan)



---

---

***4. Comment on the datatype of variables***

**Ans:** The dataset consists of datatypes -string(object),float and integers

Columns col  1,2,4,5,6,7,9,10,12,13,14,16 - string (object)
Columns col 2,8 -float
Columns col 11,15 - integers

In [8]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    678 non-null    object
 1   col2    678 non-null    object
 2   col3    690 non-null    float64
 3   col4    684 non-null    object
 4   col5    684 non-null    object
 5   col6    681 non-null    object
 6   col7    681 non-null    object
 7   col8    690 non-null    float64
 8   col9    690 non-null    object
 9   col10   690 non-null    object
 10  col11   690 non-null    int64
 11  col12   690 non-null    object
 12  col13   690 non-null    object
 13  col14   677 non-null    object
 14  col15   690 non-null    int64
 15  col16   690 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 86.4+ KB



---

---

***5. The col16 has + and -, replace them ‘P’ and ‘N’ respectively***

In [18]:
dataframe['col16']=dataframe['col16'].replace(['+','-'],['P','N'])
dataframe

    col1   col2    col3 col4 col5 col6  ... col11  col12 col13  col14  col15 col16
0      b  30.83   0.000    u    g    w  ...     1      f     g  00202      0     P
1      a  58.67   4.460    u    g    q  ...     6      f     g  00043    560     P
2      a  24.50   0.500    u    g    q  ...     0      f     g  00280    824     P
3      b  27.83   1.540    u    g    w  ...     5      t     g  00100      3     P
4      b  20.17   5.625    u    g    w  ...     0      f     s  00120      0     P
..   ...    ...     ...  ...  ...  ...  ...   ...    ...   ...    ...    ...   ...
685    b  21.08  10.085    y    p    e  ...     0      f     g  00260      0     N
686    a  22.67   0.750    u    g    c  ...     2      t     g  00200    394     N
687    a  25.25  13.500    y    p   ff  ...     1      t     g  00200      1     N
688    b  17.92   0.205    u    g   aa  ...     0      f     g  00280    750     N
689    b  35.00   3.375    u    g    c  ...     0      t     g  00000      0     N

[690 rows x 16 columns]



---

---


***6. Find and display the number of variables of type ‘Object’***

In [43]:
obj_columns=[o for o in dataframe.columns if dataframe[o].dtypes=='O']
dataframe[obj_columns]

    col1   col2 col4 col5 col6 col7 col9 col10 col12 col13  col14 col16
0      b  30.83    u    g    w    v    t     t     f     g  00202     P
1      a  58.67    u    g    q    h    t     t     f     g  00043     P
2      a  24.50    u    g    q    h    t     f     f     g  00280     P
3      b  27.83    u    g    w    v    t     t     t     g  00100     P
4      b  20.17    u    g    w    v    t     f     f     s  00120     P
..   ...    ...  ...  ...  ...  ...  ...   ...   ...   ...    ...   ...
685    b  21.08    y    p    e    h    f     f     f     g  00260     N
686    a  22.67    u    g    c    v    f     t     t     g  00200     N
687    a  25.25    y    p   ff   ff    f     t     t     g  00200     N
688    b  17.92    u    g   aa    v    f     f     f     g  00280     N
689    b  35.00    u    g    c    h    f     f     t     g  00000     N

[690 rows x 12 columns]

In [42]:
print("No of columns with datatyope object = "+ str(dataframe[obj_columns].shape[1]))

No of columns with datatyope object = 12




---

---

***II Dataset: loan.csv***

In [44]:
from google.colab import files
uploaded = files.upload()

Saving loan.csv to loan.csv

In [48]:
#Load the data
dataframe = pd.read_csv('loan.csv')
dataframe

      customer_id  disbursed_amount  ...  date_last_payment number_credit_lines_12
0               0           23201.5  ...         2016-01-14                    NaN
1               1            7425.0  ...         2016-01-25                    NaN
2               2           11150.0  ...         2014-09-26                    NaN
3               3            7600.0  ...         2016-01-26                    NaN
4               4           31960.0  ...         2016-01-11                    NaN
...           ...               ...  ...                ...                    ...
9995         9995           23750.0  ...         2010-11-03                    NaN
9996         9996           11880.0  ...         2016-01-26                    NaN
9997         9997           19950.0  ...         2015-12-12                    NaN
9998         9998            4850.0  ...         2016-01-01                    NaN
9999         9999           25584.0  ...         2016-01-16                    NaN

[10000 rows x 14 columns]

***1. Display the mean of any two variables with continuous values***

In [54]:
print("Mean of continousvariable - disbursed_amount "+str(dataframe["disbursed_amount"].mean()))
print("Mean of continousvariable - income "+str(dataframe["income"].mean()))

Mean of continousvariable - disbursed_amount 14132.2755
Mean of continousvariable - income 71572.28728914999



---

---

***2. Print the number of discrete variables***

In [57]:
obj_columns=[o for o in dataframe.columns if dataframe[o].dtypes=='int64']
print("No of discrete variables = "+str(dataframe[obj_columns].shape[1]))

No of discrete variables = 2



---

---

***3. Display the unique values of two variables with discrete values***

In [62]:
dataframe['customer_id'].unique()

array([   0,    1,    2, ..., 9997, 9998, 9999])



---

---

In [61]:
dataframe['target'].unique()

array([0, 1])



---

---

***4. Display the Month with most of loans issued date***

In [123]:
dataframe['date_issued_dt']=pd.to_datetime(dataframe['date_issued'])
dataframe['month']=dataframe['date_issued_dt'].dt.month

Month with most of loans issued date: 10



---

---

***5. Display the count of ‘Teacher’ who are ‘Owners’***

In [108]:
count=0
for i in range(0,dataframe['employment'].shape[0]):
  if(dataframe['employment'][i]=="Teacher" and dataframe["householder"][i]=="OWNER" ):
    count=count+1
print("No of ‘Teacher’ who are ‘Owners’ "+str(count))

No of ‘Teacher’ who are ‘Owners’ 69



---

---

***6. Display the ‘Employment’ of customers who mostly ‘Rent’***

In [121]:
job=[]
for i in range(0,dataframe['employment'].shape[0]):
  if(dataframe["householder"][i]=="RENT" and dataframe['employment'][i] not in job):
    job.append(dataframe['employment'][i])
print("‘Employment’ of customers who mostly ‘Rent’\n"+str(job))

‘Employment’ of customers who mostly ‘Rent’
['Teacher', 'Statistician', 'Other', 'Bus driver', 'Secretary', 'Software developer', 'Nurse', 'Accountant', 'Civil Servant', 'Dentist', 'Taxi driver', nan]



---

---